.activityenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main {
    flex: 1;
    width: 90%;
    margin-top: 1.5rem;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: $cw;
    box-shadow: $bxfull;
  }

  &__form{
      display: flex;
      margin: 1.5rem 2rem;
    flex-direction: column;
  }
}
