.confirmation {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: -170px;
  // height: 100vh;
  top: 11.5rem;

  &__red {
    position: relative;
    background-color: $c-jh-red;
    height: 100vh;
    margin-top: -10rem;
  }

  &__main {
    background-color: $cw;
    width: 90%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    top: -3.5rem;
    border-radius: 0.8rem;
    padding: 2rem;
    padding-top: 0;
  }

  &__sComment{
    box-sizing: border-box;
      padding: .8rem;
      background-color:$cwb;
      border: 1px solid $cg;
      border-radius: 8px;
    color: black;
    }

    &__btn{
        position: absolute;
        right: 0.7rem;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
        border-radius: 50%;
        border-style: none;

        &-clear{
            top: 0.7rem;
            box-shadow: $bxred;

            background-color: lighten($c-jh-red,30%);
        }

        &-save{
            bottom: 0.9rem;
            box-shadow: $bxgreen;

            background-color: lighten($cgreen,30%);

        }
    }
}
