.docketdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    // justify-content: center;
    // align-items: center;
    background-color: $cw;
    box-shadow: $bxfull;
  }

  &__name {
    padding: 1rem 2rem;
    display: flex;

    // flex-direction: column;
    // margin-bottom: 1.5rem;
    // background-color: aqua;

    &-a {
      font-weight: 500;
      // background-color: red;
      flex: 1;
    }

    &-b {
      font-weight: 500;
      // background-color: aliceblue;
      flex: 1;
    }
  }

  &__time {
    padding: 0 2rem;
    // height: 10rem;
    display: flex;
    // padding: 1rem 0;
    margin-bottom: 1rem;

    text-align: center;
    &-a {
      // background-color: red;
      padding: .7rem;
      background-color: lighten($cgreen, 25%);
      border-radius: 8px;
      margin-right: 1rem;
      flex: 1;
      box-shadow: $bxsmall;
    }

    &-b {
      padding: .7rem;
      // background-color: aliceblue;
      background-color: lighten($cgreen, 25%);
      border-radius: 8px;
      flex: 1;
      box-shadow: $bxsmall;
    }
  }

  &__notes {
    padding: 0 2rem;
    // height: 25rem;
    display: flex;
    margin-bottom: 1.5rem;
    // background-color: orangered;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    &-supervisor {
      flex: 1;
      padding: 1rem;
      margin-top: 1rem;
      background-color:$cwb;
      border-radius: 8px;
      margin-bottom: 1.5rem;
    }
    &-engineer {
      margin-top: 1rem;
      flex: 1;
      padding: 1rem;
      background-color:$cwb;
      border-radius: 8px;
    }
  }
}
.yellow{
  background-color: lighten($cyellow, 15%);
}

.blue{
  background-color: lighten($cpl, 25%);
}

.red{
  background-color: lighten($cred, 35%);
}
.details{
  display: flex;
  flex-direction: column;
}