.docketdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    // justify-content: center;
    // align-items: center;
    background-color: purple;
  }

  &__name {
    padding: 2rem;
    height: 6rem;
    display: flex;
    // flex-direction: column;
    // margin-bottom: 1.5rem;
    // background-color: aqua;

    &-a {
      background-color: red;
      flex: 1;
    }

    &-b {
      background-color: aliceblue;
      flex: 1;
    }
  }

  &__time{
    // padding: 0 2rem;
    // height: 10rem;
    display: flex;
    // padding: 1rem 0;
    margin-bottom: 1.5rem;
    background-color: yellow;
     text-align: center;
    &-a {
        background-color: red;
        flex: 1;
      }
  
      &-b {
        background-color: aliceblue;
        flex: 1;
      }
  }

  &__notes{
    padding: 0 2rem;
    // height: 25rem;
    display: flex;
    margin-bottom: 1.5rem;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

    &-supervisor{
      flex: 1;
      padding: 1rem;
      background-color: grey;
      margin-bottom: 1.5rem;
    }
    &-engineer{
      // margin-top: 1.5rem;
      flex: 1;
      padding: 1rem;
      background-color: green;
    }
  }
}
