.align__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center; }

.align__center-row {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #f3f3f3;
  margin-top: 14.5rem;
  margin-bottom: 8.5rem; }

.welcome {
  overflow: hidden;
  z-index: 10001;
  height: 8rem;
  top: 6.5rem;
  width: 90%;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 8px;
  box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }
  .welcome-text {
    font-size: 1.7rem;
    font-weight: 500; }
    .welcome-text-color {
      font-weight: 700;
      color: #0099ff; }

.title {
  display: flex; }
  .title__container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    flex: 1;
    width: 100%; }
    .title__container_break {
      margin-top: .5rem;
      margin-bottom: .5rem; }
    .title__container_m0 {
      margin-top: 0rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
      flex: 1;
      width: 100%; }
  .title__text {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    left: 0;
    flex: 1; }
  .title__line {
    z-index: 9999999;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    height: 0.2rem;
    width: 100%;
    background-color: rgba(199, 198, 201, 0.2); }
  .title__input {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    left: 0;
    flex: 1;
    text-align: center;
    margin-bottom: .5rem; }
  .title__small {
    font-size: 1.3rem;
    font-weight: 500; }

.list {
  overflow: hidden;
  margin-top: 1.5rem;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1);
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out; }
  .list:hover {
    box-shadow: 0 0 2.5rem rgba(3, 36, 166, 0.3);
    background-color: #f0f3ff;
    transform: scale(1.05); }
  .list__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.4rem;
    margin: 1rem; }
  .list__border {
    width: 0.5rem;
    background-color: #0099ff; }
    .list__border-pending {
      width: 0.5rem;
      background-color: #ffbb00; }
    .list__border-approved {
      width: 0.5rem;
      background-color: #23ca23; }
    .list__border-rejected {
      width: 0.5rem;
      background-color: #fd3a36; }
  .list__line {
    padding: 0.2rem; }
  .list__key {
    font-weight: 400; }
  .list__value {
    font-weight: 700; }

.btn {
  margin-top: 1rem;
  width: 50%;
  display: block;
  padding: 1rem;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
  background-image: linear-gradient(to bottom, #0099ff, #66c2ff);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.navigation-heading {
  display: flex;
  height: 10rem;
  width: 100%;
  top: 0;
  background-color: #0033E6;
  background-image: linear-gradient(to bottom, #0033E6, #0099ff);
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  z-index: 10000;
  overflow: hidden; }
  .navigation-heading__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #fff; }
  .navigation-heading__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .navigation-heading__setting-box {
    position: absolute;
    top: 2rem;
    right: 2rem; }
  .navigation-heading__heading {
    margin-top: -3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem; }

.navigation {
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 -0.01rem 2rem rgba(0, 51, 230, 0.1);
  z-index: 1000; }
  .navigation__container {
    flex: 1;
    transition: all 0.3s ease-out;
    padding: .25rem 0; }
    .navigation__container:hover {
      background-color: rgba(0, 153, 255, 0.05); }
  .navigation__container:hover .navigation__icon {
    fill: #0099ff;
    transform: scale(1.2);
    margin-bottom: .2em; }
  .navigation__container:hover .navigation__text {
    color: #0099ff;
    transform: scale(1.1); }
  .navigation__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .9rem 0 .8rem 0; }
  .navigation__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: #C7C6C9;
    margin-bottom: .2em;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1); }
  .navigation__text {
    text-decoration: none;
    font-weight: 400;
    color: #C7C6C9;
    font-size: 1.2rem;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.sig {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  width: 200px; }
  .sig__Canvas {
    transform: translate(-50%);
    position: absolute;
    display: block;
    background-color: purple;
    height: 200px;
    margin-top: 10px;
    border: 2px solid black; }

.input {
  width: 90%; }
  .input__parent {
    box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1); }
  .input__text, .input__time {
    font-size: 1.9rem; }
  .input__text-box-main {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem; }
  .input__text-box {
    display: flex;
    align-items: center; }
  .input__parent {
    margin-top: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem 0; }
  .input__fields {
    display: flex;
    justify-content: space-around; }
  .input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1.5rem; }
  .input__time {
    text-align: center;
    flex: 1;
    width: 100%;
    border-style: none;
    padding: 1rem;
    font-weight: 400;
    width: 100%;
    background-color: #f5f5f6;
    border-radius: 8px; }
    .input__time::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none; }

.icon {
  height: 2.5rem;
  width: 2.5rem; }
  .icon__box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .icon__green {
    height: 3.5rem;
    width: 3.5rem;
    fill: #23ca23;
    filter: drop-shadow(0 0 0.6rem rgba(35, 202, 35, 0.4)); }
  .icon__yellow {
    fill: #ffbb00;
    filter: drop-shadow(0 0 0.6rem rgba(255, 187, 0, 0.4)); }
  .icon__red {
    fill: #fd3a36;
    filter: drop-shadow(0 0 0.6rem rgba(253, 58, 54, 0.4)); }
  .icon__blue {
    fill: #0099ff;
    filter: drop-shadow(0 0 0.6rem rgba(0, 153, 255, 0.4)); }

.activity {
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .activity__heading {
    margin-top: 2.5rem; }
  .activity__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.docketentry {
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home {
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home__welcome {
    overflow: hidden;
    z-index: 10001;
    height: 8rem;
    top: 6.5rem;
    width: 90%;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 8px;
    box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; }
    .home__welcome-text {
      font-size: 1.7rem;
      font-weight: 500; }
      .home__welcome-text-color {
        font-weight: 700;
        color: #0099ff; }
  .home__calendar {
    height: 18rem;
    margin-top: 2.5rem;
    width: 90%;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 8px;
    box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; }
  .home__snapshot {
    position: relative;
    margin-top: 2.5rem;
    width: 90%;
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 1.75rem rgba(0, 51, 230, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .home__snapshot-heading {
      font-size: 1.5rem;
      font-weight: 700; }
    .home__snapshot-status-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .home__snapshot-status-box-label {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        font-weight: 500; }
      .home__snapshot-status-box-circle {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .home__snapshot-status-box-circle-label {
          text-align: center;
          display: block;
          font-size: 1.5rem;
          font-weight: 700;
          color: #fff; }
        .home__snapshot-status-box-circle-shape {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          background-color: red;
          border-radius: 50%; }

.approved {
  background-color: #23ca23;
  box-shadow: 0 0 1rem rgba(35, 202, 35, 0.5); }

.pending {
  background-color: #ffbb00;
  box-shadow: 0 0 1rem rgba(255, 187, 0, 0.5); }

.rejected {
  background-color: #fd3a36;
  box-shadow: 0 0 1rem rgba(253, 58, 54, 0.5); }

.listdockets {
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .listdockets__container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .listdockets__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
