* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
    background-color: $cwb;
    margin-top: 14.5rem;
    margin-bottom: 8.5rem;
  
  }



  .welcome {
    overflow: hidden;
    z-index: 10001;
    height: 8rem;
    top: 6.5rem;
    width: 90%;
    background-color: $cw;
    padding: 0.3rem;
    border-radius: 8px;
    box-shadow: $bxfull;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    &__spaced{
      justify-content: space-between;
    align-items: center;
    }

    &-text {
      // padding-left: 2rem;
      font-size: 1.7rem;
      font-weight: 500;
      &-color {
        font-weight: 700;
        color: $cpl;
      }
    }
  }

  .purple{
    color: $c-nwpa-blue;
  }