.btn {
  margin-top: 1rem;
  width: 50%;
  display: block;
  padding: 1rem;
  border: none;
  outline: none;
  color: $cw;
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
  //background-color: $cpl;
  background-image: linear-gradient(to bottom, $cpl, lighten($cpl, 20%));
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;



  &__purple{
    background-image: none;
    background-color: $c-nwpa-blue;
    box-shadow: $bx-nwpa-large;
    transition: all .2s ease-out;
    margin: 2rem 0;

     &:active{
      transform: scale(.95);
      box-shadow: none;

    }
  }

  &__small {
    margin: 1.5rem .6rem;
    padding: .6rem;
    border-radius: 20px;
    font-size: 1.8rem;

  }

  &__rejected {
    background-image: none;
    background-color: $c-jh-red;
  }
  &__approved {
    background-image: none;
    background-color: $cgreen;
  }
  &__pending {
    background-image: none;
    background-color: $cyellow;
  }
}
