.sig {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  width: 200px;
  // transform: translate(-50%,-50%);

  &__Canvas {
    // top: 50%;
    // left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: block;
    background-color: purple;
    // width: 200px;
    height: 200px;
    margin-top: 10px;
    border: 2px solid black;
  }
}

.input {
  &__parent {
    box-shadow: $bxfull;
  }
  width: 90%;
  // background-color: pink;
  &__text,
  &__time {
    font-size: 1.9rem;
  }

  &__parent {
    margin-top: 1.5rem;
    background-color: $cw;
    border-radius: 8px;
    padding: 2rem 0;
  }

  &__fields {
    display: flex;
    justify-content: space-around;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }
  &__time {
    text-align: center;
    flex: 1;
    width: 100%;
    border-style: none;
    padding: 0.4rem;
    font-weight: 400;
    width: 100%;
    background-color: lighten($cg, 18%);
    border-radius: 8px;

    &-break {
      // font-size: 1.5rem;
    }

    &::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }
  }
}
