.list {
  overflow: hidden;
  margin-top: 1.5rem;
  width: 100%;
  background-color: $cw;
  // padding: 2rem;
  border-radius: 8px;
  box-shadow: $bxfull;
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $bxlarge;
    background-color: lighten($cp, 52%);
    transform: scale(1.05);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.4rem;
    margin: 1rem;
  }
  &__border {
    width: 0.5rem;
    background-color: $cpl;

    &-pending {
      width: 0.5rem;
      background-color: $cyellow;
    }
    &-approved {
      width: 0.5rem;
      background-color: $cgreen;
    }
    &-rejected {
      width: 0.5rem;
      background-color: $cred;
    }
  }

  &__line {
    padding: 0.2rem;
  }

  &__key {
    font-weight: 400;
  }
  &__value {
    // display: inline-flex;
    font-weight: 700;
  }

  &__percent {
    // display: block;
    width: calc(100%/3);
    background-color: red;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: black; 
    background-repeat: no-repeat;
    background-size:12rem;

    &_bg {
      width: 100%;
      position: absolute;
      background-color: transparent;
      height: 10px;
      z-index: 10;
      background-image: linear-gradient(
        to right,
        $cgreen,
        $cyellow,
        $cred,
      );
      background-size:inherit;

 

    }
  }
}
