  // Set delay per List Item
  @for $i from 1 through $total-items {
    .list{
      &:nth-child(#{$i}) {
      animation-delay: .07s * $i;
    }
  }
  }

.list {

  overflow: hidden;
  margin-top: 1.5rem;
  width: 100%;
  background-color: $cw;
  // padding: 2rem;
  border-radius: 8px;
  box-shadow: $bxfull;
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  // transition: all 0.2s ease-in-out;
  animation: fadeIn .6s cubic-bezier(.54,-0.78,0,1.58);
  animation-fill-mode: both;



// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    // top: 100px;
    transform: translateX(-100%)

  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

  &:hover {
    box-shadow: $bxlarge;
    background-color: lighten($cp, 52%);
    transform: scale(1.05);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.4rem;
    margin: 1rem;
  }
  &__border {
    width: 0.5rem;
    background-color: $cpl;

    &-pending {
      width: 0.5rem;
      background-color: $cyellow;
    }
    &-approved {
      width: 0.5rem;
      background-color: $cgreen;
    }
    &-rejected {
      width: 0.5rem;
      background-color: $cred;
    }
  }

  &__line {
    padding: 0.2rem;
  }

  &__key {
    font-weight: 400;
  }
  &__value {
    // display: inline-flex;
    font-weight: 700;
    &_big{
      font-size: 1.7rem;
    }
  }


  &__dashboard {
    margin-top: 1.5rem;
    width: inherit;
    background-color: $cw;
    border-radius: 8px;
    box-shadow: $bxfull;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
    flex: 1;
    padding: 2rem;

    &_bois{
      width: 100%;
      flex: 1;
    }

    &_container {
      display: flex;
      justify-content: space-between;
     

      &-left {
        flex:1;
        display: flex;
        flex-direction: column;
        // background-color: pink;
      }
      &-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        // background-color: orangered;

        &-box{
          margin-left: -40rem;
          display: flex;
          flex-direction: column;
          align-items:flex-start; 
        }
      }
    }
    &_progress{
      margin-top: 1rem;
    }
  }
  &__percent {
    // display: block;
    overflow: hidden;
    width: calc(100%/1);
    height: .5rem;
    z-index: 20;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: lighten($cg,15%);
    border-radius: 500px;
    background-repeat: no-repeat;
    background-size: 30rem;
    box-shadow:0 0 10px #00000031;

    &_bg {
      // width: 100%;
      // position: absolute;
      background-color: transparent;
      height: 100%;
      z-index: 10;
      background-image: linear-gradient(to right, $cgreen, $cyellow2, $cred);
      background-size: inherit;
      display: flex;
      justify-content: center;
      box-shadow:0 0 10px #00000060;

      &-text{
        color: $cw;
        font-weight: 700;
        font-size: 1.4rem;
        display: none;
      }
    }
  }
}
