.navigation {
    background-color: red;
    // overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 260px;
    bottom: 0;
    position: fixed;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid rgb(255, 255, 255);
    box-shadow: 0 -1rem 3rem rgba(97, 171, 255, 0.3);

    &__icon {
        height: 4rem;
        width: 4rem;
// fill: white;
        // background-color: blue;
    }
}

