.nav {
  height: 60px;
  background-color: $c-blue-dark;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* overflow: hidden; */
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  &_sidebar {
    position: absolute;
    align: center;
    align-items: center;
    float: left;
    /* width: 33.33%; */
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);
    z-index: 200;
  }
  &_sidebar h4 {
    color: white;
    z-index: 200;
  }
}
