html {
  font-family: 'Roboto' , sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li{
  background-color:rgba(171, 207, 248, 0.356);
  margin: 10px 10px;
  list-style-type: none;
  padding: 5px;
  border-radius: 15px;
  padding: 15px;

}
button.list{
width: 20%;
}

ul{
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

li.pending{
  background-color:grey;

}

li.approved{
  background-color: green;

}

li.rejected{
  background-color: red;
}

.nav{
  height: 50px;
  background-color: blue;
  color: white;
}

input[type=time] {
  padding:5px; 
  border:2px solid rgb(0, 89, 255); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button{
  display: inline-block;
  width: 60%;
  border: none;
  margin-top: 10px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(138, 143, 221);
}


/* _                 _       
| |               (_)      
| |     ___   __ _ _ _ __  
| |    / _ \ / _` | | '_ \ 
| |___| (_) | (_| | | | | |
|______\___/ \__, |_|_| |_|
              __/ |        
             |___/   */


input.login{
  border:none;
  width: 80%;
  border-radius: 15px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.082);
  margin-bottom: 10px;
}
input.login::-webkit-input-placeholder {
  font-size: 12px;
  padding: 10px;
}
input[type=text]{
  padding-left: 10px;
}
button#login{
    display: inline-block;
    width: 60%;
    border: none;
    margin-top: 10px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 4px rgb(138, 143, 221);
  
}

div.login{
  width: auto;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 40%;
position: absolute;
background-color: white;
box-shadow: 2px 2px 10px rgba(195, 195, 195, 0.329);


}
h4#login{
  font-weight: 1000;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}
h6{
  margin: 0;
  padding: 0;
  margin-top:10px;
}

label.login{
  font-size: 10px;
  float: left;
  padding-left: 17px;
  margin-top: 5px;
  margin-bottom: 3px;

}


/* _   _ ________  ___ _____ 
| | | |  _  |  \/  ||  ___|
| |_| | | | | .  . || |__  
|  _  | | | | |\/| ||  __| 
| | | \ \_/ / |  | || |___ 
\_| |_/\___/\_|  |_/\____/  */
                           
div.home{
  width: auto;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 40%;
position: absolute;
background-color: white;
box-shadow: 2px 2px 10px rgba(195, 195, 195, 0.329);
}                 
h4{
  color: black;
  font-size: 20px;
}









/* ___       _   _       _ _         
/ _ \     | | (_)     (_) |        
/ /_\ \ ___| |_ ___   ___| |_ _   _ 
|  _  |/ __| __| \ \ / / | __| | | |
| | | | (__| |_| |\ V /| | |_| |_| |
\_| |_/\___|\__|_| \_/ |_|\__|\__, |
                              __/ |
                             |___/  */
