//COLORS//

// $c-blue-dark : #3D3Cf3;
// $c-blue-light:#4160F7;
// $c-green:#87D084;
// $c-yellow:#F4A827;
// $c-red:#CA152B;
// $c-blue-bg:#E7DFFB;
// $c-white:#FFFFFF;
// $c-black:#000000;
// #F46F6C
// #37BA9D


//COLOR
$cp:#0033E6;  //Color-Primary//
$cpd:#0324A6;  //Color-Primary-Dark//
$cpl:#0099ff;  //Color-Primary-Light//

$csl:#E8F2FF; //Color-Secondary-Light

$cw:#fff;
$cwb:#f3f3f3;
$cwl:rgb(250, 6, 6);

$cg:#C7C6C9; //Color-Grey

$cs:#0033E6; //Color-Shadows

$ctw:#fff;

$cgreen:rgb(35, 202, 35);
$cyellow:rgb(255, 187, 0);
$cred:#fd3a36;