// FONT
$default-font-size: 1.6rem; //10px




//Transitions

$tth:all .3s ease-out; //Transition on text hover
$tts:all .2s cubic-bezier(0.77, 0, 0.175, 1); //Transition Scale

//Box Shadows
$bxsmall: 0 0 .5rem rgba($cs, .1);
$bxfull: 0 0 1.75rem rgba($cs, .1);
$bxlarge: 0 0 2.5rem rgba($cpd, .3);
$bxgreen: 0 0 1rem rgba($cgreen, .5);
$bxyellow:0 0 1rem rgba($cyellow, .5);
$bxred:0 0 1rem rgba($cred, .5);

$bx-nwpa-large: 0 0 2.5rem rgba($c-nwpa-blue, .3);
$total-items: 100;


.align{
    &__center{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: center;
        text-align: center;
    }
    &__center-row{
        display: flex;
        justify-content:center;
        align-content: center;
        text-align: center;
    }
}